<form class="ui large form segment">
  <h3 class="ui header">Add a room</h3>

  <div class="field">
    <label for="roomNum">Room number:</label>
    <input name="roomNum" id="roomNum" #newRoomNum>
  </div>

  <div class="field">
    <label for="price">Room price:</label>
    <input name="price" id="price" type="number" #newPrice>
  </div>

  <button (click)="addRoom(newRoomNum, newPrice)" class="ui positive right floated button">
    Create room
  </button>
  <button (click)="randomize()" class="ui negative left floated button">
    Randomize
  </button>
</form>

<div class="ui grid posts">
  <div class=" mb-5">
    <h3>Filter price</h3>
    <input [(ngModel)]="maxValue" placeholder="Maximum price">
  </div>
  <app-room *ngFor="let room of rooms | filter: maxValue" [room]="room">
  </app-room>
</div>